<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link
      rel="shortcut icon"
      href="{{ favicon }}"
      type="image/x-icon">
    <link rel="stylesheet" href="/static/style/common.css">
    {% if title %}
      <title>{{ title }} | {{ org }}</title>
    {% else %}
      <title>{{ org }}</title>
    {% endif %}
  </head>
  <body>
    <div class="wrapper">
      {% comment %}
        TWO POSSIBLE OPTIONS
        1. Simple banner (see commented out code)
        2. Title with accompanying image (B&R Style)
      {% endcomment %}
      {% comment %} <img src="https://placehold.co/1200x400"> {% endcomment %}
      <div class="hero" style="background-image: url({{ hero.img }}); background-color: var(--{{ hero.color }})">
        <h1>{{ hero.title }}</h1>
      </div>
      <main>
        <div class="content">
          {{ content }}
        </div>
      </main>
    </div>
  </body>
</html>