<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link
      rel="icon"
      href="{{ favicon-32 }}"
      type="image/x-icon"
      sizes="32x32">
    <link
      rel="icon"
      href="{{ favicon-192 }}"
      type="image/x-icon"
      sizes="192x192">
    <link rel="stylesheet" href="/static/style/common.css">
    <link
      rel="stylesheet"
      href="/static/style/print.css"
      media="print">
    {% if title %}
      <title>{{ title }} | {{ org }}</title>
    {% else %}
      <title>{{ org }}</title>
    {% endif %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="flex">
          {% comment %} use the org's logo for the home button {% endcomment %}
          <div>
            <a href="/">
              <img src="{{ logo }}">
            </a>

            {% if shortcode != "mke" %}
              <a href="https://uwmydsa.org"><- return to the home page</a>
            {% endif %}
          </div>

          <nav class="right flex">
            {% comment %} use navbar for local org {% endcomment %}
            <ul>
              {% for link in navigation %}
                <li
                  {% if link.subcategories or link.text == "chapters" %}
                  class="dropdown-label"
                  {% endif %}>
                  {% if link.url %}<a href="{{ link.url }}">{% endif %}
                  <span>{{ link.text }}</span>
                  {% if link.url %}</a>{% endif %}

                  {% comment %} dropdown stuff {% endcomment %}
                  {% if link.subcategories %}
                    <ul class="dropdown-content right">
                      {% for item in link.subcategories %}
                        <li>
                          <a href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% elsif link.text == "chapters" %}
                    <ul class="dropdown-content right">
                      {% for chapter in chapters %}
                        <li>
                          <a href="https://{{ chapter.shortcode }}.mkeydsa.org">{{ chapter.text }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <hr>
      </header>

      {% comment %}
        TWO POSSIBLE OPTIONS
        1. Simple banner (see commented out code)
        2. Title with accompanying image (B&R Style)
      {% endcomment %}
      {% comment %} <img src="https://placehold.co/1200x400"> {% endcomment %}
      {% if hero.title %}
        <div class="hero" style="background-image: url({{ hero.img }}); background-color: var(--{{ hero.color }})">
          <h1>{{ hero.title }}</h1>
        </div>
      {% endif %}

      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>